<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoUri" value="mongodb://ygps_sc:yiguo%40ygpssc123@172.17.7.106:27017/YGPS_SC" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>